{% extends "base.html" %}

{% block title %}ASCII UNICODE 编码解码{% endblock %}

{% block meta %}
    <meta name="keywords" content="中文 转码 在线" />
    <meta name="description" content="中文 转码 在线" />
{% endblock %}

{% block js %}
    <script type="text/javascript">
    function ascii(str){
        return str.replace(/[^\u0000-\u00FF]/g,function($0){return escape($0).replace(/(%u)(\w{4})/gi,"\&#x$2;")});
    }
    
    function unicode(str){
        return str.replace(/[^\u0000-\u00FF]/g,function($0){return escape($0).replace(/(%u)(\w{4})/gi,"\\u$2")});
    }
    
    function reconvert(str){ 
        str = str.replace(/(\\u)(\w{4})/gi,function($0){
            return (String.fromCharCode(parseInt((escape($0).replace(/(%5Cu)(\w{4})/g,"$2")),16)));
        });
                
        str = str.replace(/(&#x)(\w{4});/gi,function($0){
            return String.fromCharCode(parseInt(escape($0).replace(/(%26%23x)(\w{4})(%3B)/g,"$2"),16));
        });            
        return str;
    }
    </script>
{% endblock %}
  
{% block content %}
    <div class="well">
        <legend>中文编码解码</legend>
        <div>
           <textarea name="source" rows="14" id="source" spellcheck="false"  class="input-block-level">中华人民共和国万岁
中華人民共和國萬歲
\u4E2D\u534E\u4EBA\u6C11\u5171\u548C\u56FD\u4E07\u5C81
\u4E2D\u83EF\u4EBA\u6C11\u5171\u548C\u570B\u842C\u6B72</textarea>
            <div>
                <div class="btn btn-primary">
                   <span onclick="javascript:$('#show2').val(ascii($('#source').val()));">
                   <strong>Convert</strong><br>Fmort &amp;#xxxx</span>
                </div>
                <div class="btn btn-primary">
                   <span onclick="javascript:$('#show2').val(unicode($('#source').val()));">
                   <strong>Convert</strong><br>Fmort \uxxxx</span> 
                </div>
                <div class="btn btn-primary">
                   <span onclick="javascript:$('#show2').val(reconvert($('#source').val()));">
                   <strong>ReConvert</strong><br>To &#27721;&#23383; </span> 
                </div>
            </div>
            <textarea name="show2" rows="14" id="show2" spellcheck="false"  class="input-block-level"></textarea>
        </div>
    </div>
{% endblock %}