{% extends "base.html" %}

{% block title %}Utilities{% endblock %}

{% block meta %}
    <meta name="keywords" content="JavaScript 工具"/>
    <meta name="description" content="JavaScript 工具集"/>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div id="toollist" class="span12">
            <div id="toollist" class="span12">
                <div class="span3">
                    <div class="alert alert-success" style="margin-bottom:5px;">手册</div>
                    <ul id="ul_1" class="nav nav-tabs nav-stacked connectedSortable">
                        <li>
                            <div><a href="/func/regex-getting-start-in-30-minutes.html">正则表达式30分钟入门</a>
                            </div>
                        </li>
                        <li>
                            <div><a href="/func/rgb-reference.html">RGB 颜色参考</a></div>
                        </li>
                        <li>
                            <div><a href="http://mybatis.github.io/mybatis-3/zh/index.html">Mybatis中文文档</a></div>
                        </li>
                        <li>
                            <div><a href="http://www.bootcss.com/">BootStrap中文文档</a></div>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <div class="alert alert-success" style="margin-bottom:5px;">格式化</div>
                    <ul id="ul_3" class="nav nav-tabs nav-stacked connectedSortable">
                        <li>
                            <div><a href="/func/xml-highlight-format.html">XML 格式化 / 校验</a></div>
                        </li>
                        <li>
                            <div><a href="/func/json-colorful-format.html">JSON 格式化</a></div>
                        </li>
                        <li>
                            <div><a href="/func/sql-colorful-format.html">SQL 高亮格式化</a></div>
                        </li>
                        <li>
                            <div><a href="/func/js-colorful-format.html">Javascript 格式化</a></div>
                        </li>
                        <li>
                            <div><a href="/func/html-format-validate.html">HTML 格式化 / 校验</a></div>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <div class="alert alert-success" style="margin-bottom:5px;">加密 / 解密 / 压缩</div>
                    <ul id="ul_5" class="nav nav-tabs nav-stacked connectedSortable">
                        <li>
                            <div><a href="/func/chinese-encode-decode.html">ASCII UNICODE 编码解码</a></div>
                        </li>
                        <li>
                            <div><a href="/func/base64-encode-decode.html">BASE64 编码解码</a></div>
                        </li>
                        <li>
                            <div><a href="/func/js-compress.html">Javascript 在线压缩</a></div>
                        </li>
                        <li>
                            <div><a href="/func/json-compress-transfer.html">JSON 压缩 /
                                转义</a></div>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <div class="alert alert-success" style="margin-bottom:5px;">其他</div>
                    <ul id="ul_6" class="nav nav-tabs nav-stacked connectedSortable">
                        <li>
                            <div><a href="/func/share.html">文本分享工具</a></div>
                        </li>
                        <li>
                            <div><a href="/func/text-compare.html">代码对比 / 归并工具</a></div>
                        </li>
                        <li>
                            <div><a tabindex="-1"
                                    href="/func/line-based-text-compare.html">基于行的文本对比工具</a></div>
                        </li>
                        <li>
                            <div><a href="/func/regex-test.html">正则表达式测试</a></div>
                        </li>
                        <li>
                            <div><a href="/func/qrcode-encode-decode.html">二维码生成 / 解码工具</a></div>
                        </li>
                        <li>
                            <div><a href="/ip?web">本机IP查询 / IP 信息查询</a></div>
                        </li>
                        <li>
                            <div><a href="/func/word-count.html">字符数目统计</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/jquery-ui/jquery.ui.core.js"></script>
    <script src="/static/js/jquery-ui/jquery.ui.widget.js"></script>
    <script src="/static/js/jquery-ui/jquery.ui.mouse.js"></script>
    <script src="/static/js/jquery-ui/jquery.ui.sortable.js"></script>
{% endblock %}