{% extends "base.html" %}

{% block content %}
    <div class="alert alert-danger" style="margin-bottom:5px;">
        分享地址：<a href="http://utils.lzxz1234.cn/t/{{ key }}">http://utils.han5d.vip/t/{{ key }}</a>
    </div>
<pre><code>{{ content }}</code></pre>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/js/highlight/styles/default.css">
{% endblock %}

{% block js %}
<script src="/static/js/highlight/highlight.pack.js"></script>
<script>
hljs.initHighlightingOnLoad();
</script>
{% endblock %}