{% extends "base.html" %}

{% block title %}JSON Format And Colorful{% endblock %}

{% block meta %}
  <meta name="keywords" content="SQL 在线格式化" />
  <meta name="description" content="SQL 在线格式化" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/js/highlight/styles/default.css">
{% endblock %}

{% block content %}
    <div class="well">
        <legend>SQL 格式化工具</legend>
        <span>Input SQL Data Here:</span>
        <textarea id="input" class="input-block-level" spellcheck="false"  rows="8" autofocus="true"></textarea>
        <input type="Button" value="Format" class="btn" onClick="Process()"/>
        <pre><code id="output"></code></pre>
    </div>
{% endblock %}

{% block js %}
<script src="/static/js/highlight/highlight.pack.js"></script>
<script src="/static/js/sql-formatter.min.js"></script>
<script>
function Process() {
    var input = document.getElementById('input');
    var output = document.getElementById('output');
    $("#output").html(hljs.highlight('sql', sqlFormatter.format(input.value, {language: 'SQL'})).value);
};
</script>
{% endblock %}